* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
    height: 5vmax;
    width: 100%;
    background: linear-gradient(to right, #344dba, #764ba2);
    padding-top: 10px;
    position: fixed;
    top: 0;
    z-index: 20;
    text-align: center;
}

nav #logo-img {
    width: 6vmax;
}


body>h1 {
    font-size: 3.5vmax;
}

.container {
    height: auto;
    width: 38%;
    border-radius: 10px;
    text-align: center;
    background-image: linear-gradient(to right, rgb(21, 226, 127), rgb(231, 249, 98), rgb(229, 167, 81));
    margin-top: 30px;
    border: 3px solid black;
    padding: 0 0 1vmax 0;
}

.container h1 {
    font-size: 100px;
    color: darkblue;
}

p {
    font-size: 2.2vmax;
}